.header-style {
  color: white;
  background: black;
}

.logo-style {
  color: gold;
  font-weight: bold;
  font-size: normal;
  text-decoration: none;
}

.header-version {
  color: gold;
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
}

.link-style {
  color: white;
  font-weight: 600;
  font-size: x-small;
  margin: 0px;
  text-decoration: none;
}

.desktop-searchbar {
  color: white;
  background: black;
  border-color: white;
  width: 310px;
  border-width: 0.1rem;
  border-radius: 0.2rem;
}

.tablet-searchbar {
  color: white;
  background: black;
  border-color: white;
  width: 290px;
  border-width: 0.1rem;
  border-radius: 0.2rem;
}

.phone-searchbar {
  color: white;
  background: black;
  border-color: white;
  width: 170px;
  border-width: 0.1rem;
  border-radius: 0.2rem;
}

.signin-orders-style {
  margin-left: 10px;
}

.searchbar-style:focus {
  outline: none;
}

.shopping-cart-style {
  font-weight: 600;
  font-size: small;
}

.cart-icon-width {
  width: 20px;
}